<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="homepage.css">
    <script src="https://kit.fontawesome.com/bdf841d151.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@500&display=swap" rel="stylesheet">
    <title>ShopHub-Hub For Online Shoppers </title>
</head>
<body>
    <section>

        <nav class="navbar">

            <div class="title">ShopHub</div>

            <ul class="navlist">
                <div>
                <li><a href="Mens.html">MEN</a></li>
                <li><a href="Womens.html">WOMEN</a></li>
                <li><a href="">KIDS</a></li>
                <li><a href="">HOME&LIVING</a></li>
                <li><a href="">BEAUTY</a></li>
            </div>
            </ul>

            <div>
                <i class="fa fa-search" aria-hidden="true" id="searchIcon"></i>
            </div>
            <div class="Search" id="ico">
                
                <input type="text" placeholder="Search for Products,brands and many more"  >
            </div>

            <div class="cart">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
               
            </div>
            <div class="profile">
                <i class="fa fa-user" aria-hidden="true" id="dropdown-icon"></i>
                <div class="dropdown-container" style="margin-top: 20px;">
                  <a href="#" class="dropdown-item">Your Profile</a>
                  <a href="#" class="dropdown-item">My Orders</a>
                  <a href="#" class="dropdown-item">Account</a>
                </div>
               
            </div>
        </nav>

       

    </section> 

    <!-- <section>
        <div class="container">

        </div>
         <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="https://source.unsplash.com/random/520x600/?coding,technology" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://source.unsplash.com/random/520x600/?coding,technology" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://source.unsplash.com/random/520x600/?coding,technology" class="d-block w-100" alt="...">
              </div>
            </div>
          </div> -->
     
          <section>
            <div class="slideshow-container">
              <!-- Slides -->
              <div class="mySlides">
                <div class="container1">
                  <div><p>FIND CLOTHES</p>
                 <p style="padding-left: 30px;">THAT MATCHES</p>
                 <p>YOUR STYLE</p>
                 </div>
                 </div>
              </div>
            
    <div class="mySlides" style="background-image: url(https://www.shutterstock.com/image-photo/sideways-young-woman-wear-pullover-600nw-2262903699.jpg); 
    background-repeat: no-repeat; 
    margin-top: 100px; 
    margin-left: 350px; /* Adjusted margin to move the photo to the left */
    border-radius: 20px; 
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8); 
    position: relative; 
    text-align: center; 
    height: 400px; /* Adjusted height */
    width: 800px; /* Adjusted width */">

    <div style="position: absolute; top: 50%; left: 70%; transform: translate(-50%, -50%); color: #121113; ">
        <div style="padding-top: 50px; padding-right: 0px;"> <!-- Adjusted padding to move text to the right -->
            <p style="font-size: 40px; font-family: 'DM Serif Display'; margin-bottom: 10px;">WESTERN WEAR</p>
            <p style="font-size: 60px; font-family: 'DM Serif Display'; margin-bottom: 0;">Upto 30% off</p>
        </div>
    </div>

</div>
            
              <div class="mySlides">
                <div style="background-image: url(https://onpointfresh.com/wp-content/uploads/2017/04/Mens-Summer-Fashion..png); background-repeat: no-repeat;height: 100vh;margin:50px; border-radius: 20px;margin-bottom: 50px; box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);">

                </div>
              </div>
            
              <!-- Navigation dots -->
              <div style="text-align:center">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
              </div>
            </div>

           
          </section>

          <section>
            <div class="sale">
              <p style="font-size: 30px;">Trade-in-offer</p>
              <p style="font-size: 50px; font-weight: bold; ">Super value deals</p>
              <p style="font-size: 50px; font-weight: bold; color: #1aedca; ">On all products</p>
              <p style="font-size: 20px; color: gray;">Save more with coupons & upto 70% off!!</p>
            </div>
          </section>

          <section>
            <div class="pro">
              <div class="item" style="border: none;">
                <div style=" border: 3px solid rgb(227, 135, 7); background-color: #f5f5cd;">
                <div style="width: 200px; height: 150px; overflow: hidden; margin: 10px 10px 10px 10px;">
                  <img src="https://imgmedia.lbb.in/media/2022/12/63a997b971f2a478816177aa_1672058809001.jpg" alt="" style="width: 100%; height: auto;">
                  
                </div>
               
                <p style="margin-left: 40px; color: red; font-weight: bold; font-size: 30px;">40% off</p>
                <p style="margin-left: 55px; font-weight: bold; font-size: 15px;">Women's Wear</p>
                </div>
                  
                
              </div>
            </div>

            <div class="pro">
              <div class="item" style="border: none;">
                <div style=" border: 3px solid rgb(25, 212, 241); background-color: #c9e7ee;">
                <div style="width: 200px; height: 150px; overflow: hidden; margin: 10px 10px 10px 10px;">
                  <img src="https://www.nextdirect.com/nxtcms/resource/blob/5821518/d114a8023263017f86b11c206949508e/shackets-data.jpg" alt="" style="width: 100%; height: auto;">
                  
                </div>
               
                <p style="margin-left: 40px; color: red; font-weight: bold; font-size: 30px;">30% off</p>
                <p style="margin-left: 55px; font-weight: bold; font-size: 15px;">Men's Wear</p>
                </div>
                  
                
              </div>
            </div>


            <div class="pro">
              <div class="item" style="border: none;">
                <div style=" border: 3px solid rgb(28, 72, 18); background-color: #b0ead4;">
                <div style="width: 200px; height: 150px; overflow: hidden; margin: 10px 10px 10px 10px;">
                  <img src="https://5.imimg.com/data5/LW/KP/SE/SELLER-17552598/ygfy-500x500.jpeg" alt="" style="width: 100%; height: auto;">
                  
                </div>
               
                <p style="margin-left: 40px; color: red; font-weight: bold; font-size: 30px;">15% off</p>
                <p style="margin-left: 55px; font-weight: bold; font-size: 15px;">Foot Wear</p>
                </div>
                  
                
              </div>
            </div>


            <div class="pro">
              <div class="item" style="border: none;">
                <div style=" border: 3px solid rgb(215, 13, 165); background-color: #edc3d9;">
                <div style="width: 200px; height: 150px; overflow: hidden; margin: 10px 10px 10px 10px;">
                  <img src="https://t4.ftcdn.net/jpg/02/73/55/33/360_F_273553300_sBBxIPpLSn5iC5vC8FwzFh6BJDKvUeaC.jpg" alt="" style="width: 100%; height: auto;">
                  
                </div>
               
                <p style="margin-left: 40px; color: red; font-weight: bold; font-size: 30px;">10% off</p>
                <p style="margin-left: 55px; font-weight: bold; font-size: 15px;">Beauty Products</p>
                </div>
                  
                
              </div>
            </div>

            <div class="pro">
              <div class="item" style="border: none;">
                <div style=" border: 3px solid rgb(201, 241, 25); background-color: #e6eec9;">
                <div style="width: 200px; height: 150px; overflow: hidden; margin: 10px 10px 10px 10px;">
                  <img src="https://images.pexels.com/photos/1099816/pexels-photo-1099816.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="" style="width: 100%; height: auto;">
                  
                </div>
               
                <p style="margin-left: 40px; color: red; font-weight: bold; font-size: 30px;">35% off</p>
                <p style="margin-left: 55px; font-weight: bold; font-size: 15px;">Home Interior</p>
                </div>
                  
                
              </div>
            </div>


           


          </section>

          
          
          <section style="margin-top: 30px;">

            <div style="text-align: center; font-style: italic;">
              <h1>Featured Products</h1>
            </div>
            <div class="feature">
              <div class="item" style="border: none;">
                <div style="border-radius: 5px; box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); background-color: #ebf3f4;">
                <div style="width: 200px; height: 220px; overflow: hidden; margin: 10px 10px 10px 10px; border-radius: 8px; margin-bottom: 8px; margin-top: 15px;">
                  <img src="https://5.imimg.com/data5/ANDROID/Default/2021/2/EO/LQ/NR/123847091/ms-34a01-512-18174442-jpg.jpg" alt="" style="width: 100%; height: auto;">
                  
                </div>
               <div class="shop">
                <p style=" color: rgb(109, 107, 107); font-weight: bold; font-size: 10px;">adidas</p>
                <p style=" font-weight: bold; font-size: 15px;">Cartoon Astronaut T-shirt</p>
                <p><i class="fa fa-star" aria-hidden="true" style="color: rgb(248, 225, 26);"></i>
                  <i class="fa fa-star" aria-hidden="true" style="color: rgb(248, 225, 26);"></i>
                  <i class="fa fa-star" aria-hidden="true" style="color: rgb(248, 225, 26);"></i>
                  <i class="fa fa-star" aria-hidden="true" style="color: rgb(248, 225, 26);"></i>
                  <i class="fa fa-star" aria-hidden="true" style="color: rgb(248, 225, 26);"></i></p>
                  <p style="color: #222625fe;" >$78 <i class="fa fa-shopping-cart hovercart" aria-hidden="true" style="margin-left: 160px;"></i></p>
                </div>
                </div>
                  
                
              </div>
            </div>

            <div class="feature">
              <div class="item" style="border: none;">
                <div style="border-radius: 5px; box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); background-color: #ebf3f4;">
                <div style="width: 200px; height: 220px; overflow: hidden; margin: 10px 10px 10px 10px; border-radius: 8px; margin-bottom: 8px; margin-top: 15px;">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmOv3CqAXewnQaEA0aguYZV6FTADbtbS4zQA&usqp=CAU" alt="" style="width: 100%; height: auto;">
                  
                </div>
               <div class="shop">
                <p style=" color: rgb(109, 107, 107); font-weight: bold; font-size: 10px;">adidas</p>
                <p style=" font-weight: bold; font-size: 15px;">Cartoon Astronaut T-shirt</p>
                <p><i class="fa fa-star" aria-hidden="true" style="color: rgb(248, 225, 26);"></i>
                  <i class="fa fa-star" aria-hidden="true" style="color: rgb(248, 225, 26);"></i>
                  <i class="fa fa-star" aria-hidden="true" style="color: rgb(248, 225, 26);"></i>
                  <i class="fa fa-star" aria-hidden="true" style="color: rgb(248, 225, 26);"></i>
                  <i class="fa fa-star" aria-hidden="true" style="color: rgb(248, 225, 26);"></i></p>
                  <p style="color: #222625fe;" >$78 <i class="fa fa-shopping-cart hovercart" aria-hidden="true" style="margin-left: 160px;"></i></p>
                </div>
                </div>
                  
                
              </div>
            </div>

            <div class="feature">
              <div class="item" style="border: none;">
                <div style="border-radius: 5px; box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); background-color: #ebf3f4;">
                <div style="width: 200px; height: 220px; overflow: hidden; margin: 10px 10px 10px 10px; border-radius: 8px; margin-bottom: 8px; margin-top: 15px;">
                  <img src="https://cdn.fynd.com/v2/falling-surf-7c8bb8/fyprod/wrkr/products/pictures/item/free/original/8907880688507/SzPPV-luLU-1.jpg" alt="" style="width: 100%; height: auto;">
                  
                </div>
               <div class="shop">
                <p style=" color: rgb(109, 107, 107); font-weight: bold; font-size: 10px;">adidas</p>
                <p style=" font-weight: bold; font-size: 15px;">Cartoon Astronaut T-shirt</p>
                <p><i class="fa fa-star" aria-hidden="true" style="color: rgb(248, 225, 26);"></i>
                  <i class="fa fa-star" aria-hidden="true" style="color: rgb(248, 225, 26);"></i>
                  <i class="fa fa-star" aria-hidden="true" style="color: rgb(248, 225, 26);"></i>
                  <i class="fa fa-star" aria-hidden="true" style="color: rgb(248, 225, 26);"></i>
                  <i class="fa fa-star" aria-hidden="true" style="color: rgb(248, 225, 26);"></i></p>
                  <p style="color: #222625fe;" >$78 <i class="fa fa-shopping-cart hovercart" aria-hidden="true" style="margin-left: 160px;"></i></p>
                </div>
                </div>
                  
                
              </div>
            </div>

            <div class="feature">
              <div class="item" style="border: none;">
                <div style="border-radius: 5px; box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); background-color: #ebf3f4;">
                <div style="width: 200px; height: 220px; overflow: hidden; margin: 10px 10px 10px 10px; border-radius: 8px; margin-bottom: 8px; margin-top: 15px;">
                  <img src="https://res.cloudinary.com/hiscraves/image/upload/c_fit,q_auto:eco/v1/products/pspadi1y1wggbrxs2u0y.webp" alt="" style="width: 100%; height: auto;">
                  
                </div>
               <div class="shop">
                <p style=" color: rgb(109, 107, 107); font-weight: bold; font-size: 10px;">adidas</p>
                <p style=" font-weight: bold; font-size: 15px;">Cartoon Astronaut T-shirt</p>
                <p><i class="fa fa-star" aria-hidden="true" style="color: rgb(248, 225, 26);"></i>
                  <i class="fa fa-star" aria-hidden="true" style="color: rgb(248, 225, 26);"></i>
                  <i class="fa fa-star" aria-hidden="true" style="color: rgb(248, 225, 26);"></i>
                  <i class="fa fa-star" aria-hidden="true" style="color: rgb(248, 225, 26);"></i>
                  <i class="fa fa-star" aria-hidden="true" style="color: rgb(248, 225, 26);"></i></p>
                  <p style="color: #222625fe;" >$78 <i class="fa fa-shopping-cart hovercart" aria-hidden="true" style="margin-left: 160px;"></i></p>
                </div>
                </div>
                  
                
              </div>
            </div>

            <div class="feature">
              <div class="item" style="border: none;">
                <div style="border-radius: 5px; box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); background-color: #ebf3f4;">
                <div style="width: 200px; height: 220px; overflow: hidden; margin: 10px 10px 10px 10px; border-radius: 8px; margin-bottom: 8px; margin-top: 15px;">
                  <img src="https://assets.myntassets.com/dpr_1.5,q_60,w_400,c_limit,fl_progressive/assets/images/15598130/2021/10/11/00b95453-af40-4cfe-a8fb-51960607777e1633926686080-DILLINGER-Women-Tshirts-7421633926685543-1.jpg" alt="" style="width: 100%; height: auto;">
                  
                </div>
               <div class="shop">
                <p style=" color: rgb(109, 107, 107); font-weight: bold; font-size: 10px;">adidas</p>
                <p style=" font-weight: bold; font-size: 15px;">Cartoon Astronaut T-shirt</p>
                <p><i class="fa fa-star" aria-hidden="true" style="color: rgb(248, 225, 26);"></i>
                  <i class="fa fa-star" aria-hidden="true" style="color: rgb(248, 225, 26);"></i>
                  <i class="fa fa-star" aria-hidden="true" style="color: rgb(248, 225, 26);"></i>
                  <i class="fa fa-star" aria-hidden="true" style="color: rgb(248, 225, 26);"></i>
                  <i class="fa fa-star" aria-hidden="true" style="color: rgb(248, 225, 26);"></i></p>
                  <p style="color: #222625fe;" >$78 <i class="fa fa-shopping-cart hovercart" aria-hidden="true" style="margin-left: 160px;"></i></p>
                </div>
                </div>
                  
                
              </div>
            </div>


            <div style="  text-align: center; margin-top: 50px;height: 40vh;background-image: url(https://img.freepik.com/free-vector/stylish-memphis-background-with-curve-lines-shapes_1017-33618.jpg?w=1060&t=st=1704192178~exp=1704192778~hmac=e3dfcfc244f0a6c919ea7907838ed81d256f1c4ad38f0737b1e7761c0a647900);">
<p style="color: white; font-size: 20px;padding-top: 60px;">Repaired Services</p>
<p style="color: white; font-size: 50px;">Up to 70% Off-All T-Shirts & Accessories</p>
<button style="border: none; background:white; padding: 15px; border-radius: 5px; text-decoration: none;" class="explore">Explore More</button>

            </div>


            <div style="text-align: center; margin-top: 30px;">
              <h1 style="font-size: 60px; font-weight: bold;">New Arrivals</h1>
              <p style="color: grey; font-size: 20px;">Summer Collection New Modern Design</p>
            </div>

            <div class="feature">
              <div class="item" style="border: none;">
                <div style="border-radius: 5px; box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); background-color: #ebf3f4;">
                <div style="width: 200px; height: 220px; overflow: hidden; margin: 10px 10px 10px 10px; border-radius: 8px; margin-bottom: 8px; margin-top: 15px;">
                  <img src="https://sslimages.shoppersstop.com/sys-master/images/hf7/ha4/26922392944670/S22507KT190_OFF_WHITE.jpg_230Wx334H" alt="" style="width: 100%; height: auto;">
                  
                </div>
               <div class="shop">
                <p style=" color: rgb(109, 107, 107); font-weight: bold; font-size: 10px;">adidas</p>
                <p style=" font-weight: bold; font-size: 15px;">Cartoon Astronaut T-shirt</p>
                <p><i class="fa fa-star" aria-hidden="true" style="color: rgb(248, 225, 26);"></i>
                  <i class="fa fa-star" aria-hidden="true" style="color: rgb(248, 225, 26);"></i>
                  <i class="fa fa-star" aria-hidden="true" style="color: rgb(248, 225, 26);"></i>
                  <i class="fa fa-star" aria-hidden="true" style="color: rgb(248, 225, 26);"></i>
                  <i class="fa fa-star" aria-hidden="true" style="color: rgb(248, 225, 26);"></i></p>
                  <p style="color: #222625fe;" >$78 <i class="fa fa-shopping-cart hovercart" aria-hidden="true" style="margin-left: 160px;"></i></p>
                </div>
                </div>
                  
                
              </div>
            </div>

            <div class="feature">
              <div class="item" style="border: none;">
                <div style="border-radius: 5px; box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); background-color: #ebf3f4;">
                <div style="width: 200px; height: 220px; overflow: hidden; margin: 10px 10px 10px 10px; border-radius: 8px; margin-bottom: 8px; margin-top: 15px;">
                  <img src="https://rukminim2.flixcart.com/image/850/1000/xif0q/t-shirt/x/g/e/l-mens-t-shirt-5056-chakudee-fashion-original-imagmxgycyhhb5bh.jpeg?q=90" alt="" style="width: 100%; height: auto;">
                  
                </div>
               <div class="shop">
                <p style=" color: rgb(109, 107, 107); font-weight: bold; font-size: 10px;">adidas</p>
                <p style=" font-weight: bold; font-size: 15px;">Cartoon Astronaut T-shirt</p>
                <p><i class="fa fa-star" aria-hidden="true" style="color: rgb(248, 225, 26);"></i>
                  <i class="fa fa-star" aria-hidden="true" style="color: rgb(248, 225, 26);"></i>
                  <i class="fa fa-star" aria-hidden="true" style="color: rgb(248, 225, 26);"></i>
                  <i class="fa fa-star" aria-hidden="true" style="color: rgb(248, 225, 26);"></i>
                  <i class="fa fa-star" aria-hidden="true" style="color: rgb(248, 225, 26);"></i></p>
                  <p style="color: #222625fe;" >$78 <i class="fa fa-shopping-cart hovercart" aria-hidden="true" style="margin-left: 160px;"></i></p>
                </div>
                </div>
                  
                
              </div>
            </div>

            <div class="feature">
              <div class="item" style="border: none;">
                <div style="border-radius: 5px; box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); background-color: #ebf3f4;">
                <div style="width: 200px; height: 220px; overflow: hidden; margin: 10px 10px 10px 10px; border-radius: 8px; margin-bottom: 8px; margin-top: 15px;">
                  <img src="https://assets.ajio.com/medias/sys_master/root/20230621/zTJY/6492a48342f9e729d76bc5d6/force_black_colour-block_polo_t-shirt.jpg" alt="" style="width: 100%; height: auto;">
                  
                </div>
               <div class="shop">
                <p style=" color: rgb(109, 107, 107); font-weight: bold; font-size: 10px;">adidas</p>
                <p style=" font-weight: bold; font-size: 15px;">Cartoon Astronaut T-shirt</p>
                <p><i class="fa fa-star" aria-hidden="true" style="color: rgb(248, 225, 26);"></i>
                  <i class="fa fa-star" aria-hidden="true" style="color: rgb(248, 225, 26);"></i>
                  <i class="fa fa-star" aria-hidden="true" style="color: rgb(248, 225, 26);"></i>
                  <i class="fa fa-star" aria-hidden="true" style="color: rgb(248, 225, 26);"></i>
                  <i class="fa fa-star" aria-hidden="true" style="color: rgb(248, 225, 26);"></i></p>
                  <p style="color: #222625fe;" >$78 <i class="fa fa-shopping-cart hovercart" aria-hidden="true" style="margin-left: 160px;"></i></p>
                </div>
                </div>
                  
                
              </div>
            </div>

            <div class="feature">
              <div class="item" style="border: none;">
                <div style="border-radius: 5px; box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); background-color: #ebf3f4;">
                <div style="width: 200px; height: 220px; overflow: hidden; margin: 10px 10px 10px 10px; border-radius: 8px; margin-bottom: 8px; margin-top: 15px;">
                  <img src="https://th-test-11.slatic.net/p/f68053d842bb1d4c902d649129f1137f.jpg" alt="" style="width: 100%; height: auto;">
                  
                </div>
               <div class="shop">
                <p style=" color: rgb(109, 107, 107); font-weight: bold; font-size: 10px;">adidas</p>
                <p style=" font-weight: bold; font-size: 15px;">Cartoon Astronaut T-shirt</p>
                <p><i class="fa fa-star" aria-hidden="true" style="color: rgb(248, 225, 26);"></i>
                  <i class="fa fa-star" aria-hidden="true" style="color: rgb(248, 225, 26);"></i>
                  <i class="fa fa-star" aria-hidden="true" style="color: rgb(248, 225, 26);"></i>
                  <i class="fa fa-star" aria-hidden="true" style="color: rgb(248, 225, 26);"></i>
                  <i class="fa fa-star" aria-hidden="true" style="color: rgb(248, 225, 26);"></i></p>
                  <p style="color: #222625fe;" >$78 <i class="fa fa-shopping-cart hovercart" aria-hidden="true" style="margin-left: 160px;"></i></p>
                </div>
                </div>
                  
                
              </div>
            </div>

            <div class="feature">
              <div class="item" style="border: none;">
                <div style="border-radius: 5px; box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); background-color: #ebf3f4;">
                <div style="width: 200px; height: 220px; overflow: hidden; margin: 10px 10px 10px 10px; border-radius: 8px; margin-bottom: 8px; margin-top: 15px;">
                  <img src="https://assets.myntassets.com/h_1440,q_100,w_1080/v1/assets/images/2142812/2019/3/1/009137d1-0f88-4694-9ad4-7afb31039d4e1551439168225-Roadster-Women-Black-Printed-Round-Neck-Drop-Shoulder-T-shir-1.jpg" alt="" style="width: 100%; height: auto;">
                  
                </div>
               <div class="shop">
                <p style=" color: rgb(109, 107, 107); font-weight: bold; font-size: 10px;">adidas</p>
                <p style=" font-weight: bold; font-size: 15px;">Cartoon Astronaut T-shirt</p>
                <p><i class="fa fa-star" aria-hidden="true" style="color: rgb(248, 225, 26);"></i>
                  <i class="fa fa-star" aria-hidden="true" style="color: rgb(248, 225, 26);"></i>
                  <i class="fa fa-star" aria-hidden="true" style="color: rgb(248, 225, 26);"></i>
                  <i class="fa fa-star" aria-hidden="true" style="color: rgb(248, 225, 26);"></i>
                  <i class="fa fa-star" aria-hidden="true" style="color: rgb(248, 225, 26);"></i></p>
                  <p style="color: #222625fe;" >$78 <i class="fa fa-shopping-cart hovercart" aria-hidden="true" style="margin-left: 160px;"></i></p>
                </div>
                </div>
                  
                
              </div>
            </div>

          </section>


          <section style="background: #0c2049; height: 20vh;display: flex; margin-top: 30px;">

            <div style="flex: 1; margin-top: 20px; margin-left: 50px;">
<h4 style="color: white; font-size: 30px;">Sign Up For Newsletters</h4>
<p style="color: whitesmoke;">Get E-mail updates about our latest shop and <span>special offers</span> </p>
            </div>
            <div class="form" style="flex: 1; margin-left: 50px;">
              <input type="text" placeholder="Your email address" style="font-size: 15px; margin-left: 50px; margin-top: 50px; padding: 10px 20px; width: 370px;">
              <button style="border: none; background: #1aedca; color: white;padding: 10px;">Sign Up</button>
            </div>
          </section>


<section>
  <footer class="bg-light text-light py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5 style="color: black;">Company</h5>
          <ul class="list-unstyled">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms of Service</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5 style="color: black;">Customer Service</h5>
          <ul class="list-unstyled">
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Shipping Information</a></li>
            <li><a href="#">Returns & Exchanges</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5 style="color: black;">Connect With Us</h5>
          <ul class="list-unstyled">
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Instagram</a></li>
            <li><a href="#">LinkedIn</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</section>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
<script>
    document.addEventListener('DOMContentLoaded', function() {
      // Wait for the DOM to be fully loaded

      var search = document.getElementById('ico');
      var icon = document.getElementById('searchIcon'); // Change the selector

      icon.addEventListener('click', function(event) {
        // Toggle the display property of the search element
        search.style.display = (search.style.display === 'none') ? 'block' : 'none';
      });
    });

</script>
<script>
  // JavaScript for the slideshow functionality
  var slideIndex = 0;
  showSlides();

  function showSlides() {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("dot");
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    slideIndex++;
    if (slideIndex > slides.length) { slideIndex = 1 }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex - 1].style.display = "block";
    dots[slideIndex - 1].className += " active";
    setTimeout(showSlides, 2000); // Change slide every 2 seconds
  }
</script>

<script>
  document.getElementById('dropdown-icon').addEventListener('click', function (event) {
      var container = document.querySelector('.dropdown-container');
      container.style.display = (container.style.display === 'none' || container.style.display === '') ? 'block' : 'none';
  });
</script>
</html>