index2.html
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css2.css">
    <title> FunProject - Page 2</title>
</head>
<body>
    <pre> Yee...Yee...Yeee.......<h3>"I'm so glad that you clicked it!"</h3><h4> Hehehe.....</h4></pre>
    <div class="msg"><span>Remaining Ever Vivid and Heartwarming! ...</span></div>
    <img src="https://cdnb.artstation.com/p/assets/images/images/039/110/467/original/art-fume-panda-sleepy-vv.gif?1624977734" alt="">
</body>
</html>